doctype html
head
    meta(charset="UTF-8")
    title #{title}
    link(rel="icon" type="image/png" href="/public/images/icons/favicon.ico")
    link(href="/public/css/admin.css" type="text/css" rel="stylesheet")
    script(src="/public/js/admin.js")

body
    #container
        nav#left-nav
            #logo
                | Admin
                span  P a n e l
            ul#menu
                li
                    a#home Home
                li
                    a#huurders Huurders
                li
                    a#vragen Vragen
            #minimize
                | &lt;
        header#top-nav
            #links
                a#logout(href="/logout") Logout
        main#main
            #maximize
                | &gt;
            #actions-contianer
                #home-action
                    .title
                        | Home
                    .row
                        .action
                        .action
                    .row
                        .action
                #huurders-action
                    .title
                        | Huurders
                    .row
                        .action
                        .action
                        .action
                    .row
                        .action
                        .action
                        .action
                #vragen-action
                    .title
                        | Vragen
                    .row.flex-height
                        .action
                            .card-header
                                p Vragen
                                .card-header-right
                                    button#actie-menu-btn.header-btn Actie Menu >
                                    #actie-menu
                                        button Toevoegen
                                        button Opslaan
                            table#vragen-table.card-table
                                thead
                                    tr
                                        th #
                                        th Vraag
                                        th Type
                                        th Acties
                                tbody
                                    each vraag in vragen
                                        tr
                                            td(style="width:80px;")= vraag.id
                                            td= vraag.vraag
                                            td(style="width:80px;")= vraag.type
                                            td(style="width:150px;")
                                                .acties-btn-group
                                                    button(name="edit-btn").acties-btn Edit
                                                    button(name="delete-btn").acties-btn Delete
                                                .acties-btn-group.save-btns
                                                    button(name="save-btn").acties-btn Save
                                                    button(name="cancel-btn").acties-btn Cancel
