doctype html
head
    title #{title}
    meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/png" href="/public/images/icons/favicon.ico")
    link(rel="stylesheet" href="/public/css/admin_login.css")
    script(src="/public/js/admin.js")

body
    if messages
        if messages.warning
            if messages.warning.length
                div.alert.alert-warning.alert-dismissable
                    a(data-dismiss="alert", aria-label="close").close &times;
                    strong #{messages.warning}
        if messages.danger
            if messages.danger.length
                div.alert.alert-danger.alert-dismissable
                    a(data-dismiss="alert", aria-label="close").close &times;
                    strong #{messages.danger}
        if messages.success
            if messages.success.length
                div.alert.alert-success.alert-dismissable
                    a(data-dismiss="alert", aria-label="close").close &times;
                    strong #{messages.success}

    #container
        #login-container
            form#form(action="#" method="post")
                .title
                    | Admin Login
                .form-group
                    label(for="username") Gebruikersnaam:
                    input#username.form-control(type="text" name="username" placeholder="Gebruikersnaam" required="required" autofocus="autofocus")
                .form-group
                    label(for="password") Wachtwoord:
                    input#password.form-control(type="password" name="password" placeholder="Wachtwoord" required="required")
                .checkbox-wrapper
                    input(type="checkbox" name="remember" placeholder="Remember me")
                    span Remember me
                .form-group
                    input.form-btn(type="submit" value="Login →")
