html(lang="en")
    head
        title #{title}
        meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/public/css/style.css")
        link(rel="icon" type="image/png" href="/public/images/icons/favicon.ico")
        link(rel="stylesheet" href="/public/css/style.css")

    body
        .form-container
            .form-wrapper
                form.form.validate-form.active
                    span.form-title Welkom!
                    .input-wrapper
                        span
                            | Welkom op de vertrekkende huurder pagina van Verhuurtbeter.nl, NAAM. Wij hebben een paar vragen die wij graag door u beantwoord willen hebben. Ook kunt u hier eventueel alvast een aantal foto&apos;s uploaden van het appartement om het voor ons een sneller proces te maken dit appartement online te zetten en kunt u foto&apos;s plaatsen van de spullen die u eventueel achter wilt laten en de prijs die u daarvoor zou willen hebben aanggeven! Deze informatie zouden wij dan met de volgende huurder willen delen om de verhuizen nog makkelijker en soepeler te maken.
                form.form.validate-form
                    span.form-title De eerste vragen
                    .input-wrapper(data-validate="Vereist!")
                        span.input-label Naam
                        input.input(type="text" name="naam" placeholder="Uw naam")
                        span.focus-input
                    .input-wrapper(data-validate="Vereist!")
                        span.input-label Adres
                        input.input(type="text" name="adres" placeholder="Uw adres")
                        span.focus-input
                    .input-wrapper(data-validate="Vereist!")
                        span.input-label Test 1
                        input.input(type="text" name="test1" placeholder="test 1")
                        span.focus-input
                form.form.validate-form
                    span.form-title De tweede vragen
                    .input-wrapper(data-validate="Vereist!")
                        span.input-label Naam
                        input.input(type="text" name="naam" placeholder="Uw naam")
                        span.focus-input
                    .input-wrapper(data-validate="Vereist!")
                        span.input-label Adres
                        input.input(type="text" name="adres" placeholder="Uw adres")
                        span.focus-input
                    .input-wrapper(data-validate="Vereist!")
                        span.input-label Test 1
                        input.input(type="text" name="test1" placeholder="test 1")
                        span.focus-input
                .button-container
                    .button-wrapper
                        button#previous.form-button
                            i(aria-hidden="true") &larr;
                            span Vorige
                        button#next.form-button.active-button
                            span Volgende
                            i(aria-hidden="true") &rarr;
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(type="text/javascript").
            $(document).ready(function () {
                $("#next").click(function () {
                    activeForm = $(".form-wrapper .active");
                    if (!activeForm.is("form:last-of-type")) {
                        activeForm.removeClass("active").next().addClass("active");
                    }
                    switchButtons();
                });
                $("#previous").click(function () {
                    activeForm = $(".form-wrapper .active");
                    if (!activeForm.is("form:first-of-type")) {
                        activeForm.removeClass("active").prev().addClass("active");
                    }
                    switchButtons();
                });
            });
            function switchButtons() {
                activeForm = $(".form-wrapper .active");
                if (activeForm.is("form:first-of-type")) {
                    $("#next").addClass("active-button");
                    $("#previous").removeClass("active-button");
                } else if (activeForm.is("form:last-of-type")) {
                    $("#next").removeClass("active-button");
                    $("#previous").addClass("active-button");
                } else {
                    $("#next").addClass("active-button");
                    $("#previous").addClass("active-button");
                }
            }
